@model clientprospetweb.models.Dto.clientprospetDeleteDTO
<form asp-action="Deleteclientprospet">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Delete ClientProspet</h1>
        <hr />

        <input hidden asp-for="Id_client" />
        <div class="row">

            <div class="col-2">
                <label asp-for="Nom" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Nom" disabled class="form-control" />
            </div>


            <div class="col-2">
                <label asp-for="Prenom" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Prenom" disabled class="form-control" />
            </div>


            <div class="col-2">
                <label asp-for="Mobile" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Mobile" disabled class="form-control" />
            </div>


            <div class="col-2">
                <label asp-for="Email" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Email" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="PaysDeNaissance" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="PaysDeNaissance" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="DateDeNaissance" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="DateDeNaissance" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="Motif" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Motif" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="Nationalite" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Nationalite" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="pk_ad" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="pk_ad" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="Revenu" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Revenu" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="Fonction" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Fonction" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="NumeroDeLaBanque" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="NumeroDeLaBanque" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="Etat" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Etat" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="NumeroDeCompte" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="NumeroDeCompte" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="Gouvernorat" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Gouvernorat" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="Ville" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Ville" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="CodePostal" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CodePostal" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="Numéro" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Numéro" disabled class="form-control" />
                <span asp-validation-for="Numéro" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Rue" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Rue" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="Résidence" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Résidence" class="form-control" />
            </div>
            <div class="col-5 offset-2">
                <a asp-action="Indexclientprospet" asp-controller="clientprospet" class="btn-primary btn form-control">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-danger form-control" />
            </div>
        </div>

    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}